<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>HashVals</key>
    <dict>
      <key>res/images/bookmarkOn.png</key>
      <string>9e154314130649f20d9fde3ee187d200d7972027</string>
      <key>res/images/bookmarkOff.png</key>
      <string>ff61b17e663b0d229c5836e0fa377825ac55476d</string>
      <key>res/images/cont.png</key>
      <string>162d93ae7ace7f120e7684efba4daadc92f8947d</string>
      <key>res/images/iPadHome.png</key>
      <string>3cdaff4a62e2a1b019dd484bbf7caae8609858af</string>
      <key>res/images/logo.gif</key>
      <string>a6233dd5979edd55b371509a4ae104d570aac668</string>
      <key>res/images/website_64x64.png</key>
      <string>adafe031006b950d37d4a4f8b4aa5a838a5c4bf2</string>
      <key>res/images/microblog_64x64.png</key>
      <string>ec896cf39794834035841b06e1cd12cc09b0a69e</string>
      <key>res/images/facebook_64x64.png</key>
      <string>df1ac08f06f771bedb91a53f0e19ff46bf5c7e6b</string>
      <key>res/images/email_64x64.png</key>
      <string>89beeff0f6901142bf9483df3d245d1b8148c890</string>
      <key>res/images/google.plus_64x64.png</key>
      <string>5c6237fb32a32a82cbe0c4ad9f82d551b4d3f25d</string>
      <key>res/images/diaspora_64x64.png</key>
      <string>ad60a0c5fd5e6597f289ab7c6fe29513d7bcc04c</string>
      <key>res/images/skype_64x64.png</key>
      <string>3e47b5db25635df174f42ae9fcbb7b9636d926af</string>
      <key>res/images/xmpp_64x64.png</key>
      <string>50bf35038d64afe8115fa1bd19ca871bc3e1b793</string>
      <key>res/js/contentSetup.js</key>
      <string>2e250fdcda6da5d7cddfabe0eac2c5b45f2bd624</string>
      <key>res/js/jquery-3.1.0.min.js</key>
      <string>c72c1735b4d903d90dd51225ebefb8c74ebbc51f</string>
      <key>res/css/base.css</key>
      <string>15396d57674b219014ce6a13fb7203dea55e6828</string>
      <key>res/css/base2017.css</key>
      <string>4dd7b168f922a20a1b92acf9b7bf8d3ab12b45c4</string>
      <key>res/css/dots.svg</key>
      <string>3d4fc6d3525769fc45fbf31857497613836f4f25</string>
      <key>res/css/dotsNight.svg</key>
      <string>e24a9699bab17d006e5220d438125eb200198e92</string>
      <key>res/css/lowerDach.css</key>
      <string>d9fb2b210fd4d7da9494fcc0a570e313c6b39af1</string>
      <key>res/css/Kurzmeldungen.css</key>
      <string>31d07a006076ccc6e663b2c7dec7e439b2356917</string>
      <key>res/css/balken.css</key>
      <string>41f1fd4e34df4c7a9508220b0dd9fd68c2d123dd</string>
      <key>res/css/impressum.css</key>
      <string>0dc787ae03e3eb03a9fc4c98163a5f8090f9fbc5</string>
      <key>res/css/notification.css</key>
      <string>250c308a0ffa2fd5934c782d99f466841a79a656</string>
      <key>res/js/setup.js</key>
      <string>47e0187f670210623149bf07b10f989dff27bfb1</string>
      <key>res/js/eventLib.js</key>
      <string>3b5f6edf20716abce8f4f4c91f3bdba50d9d87b4</string>
      <key>res/js/pageSetup.js</key>
      <string>f1ef5ffafb3198ec4bcae06077ba53108cf0f68b</string>
      <key>res/js/regionPager.js</key>
      <string>9d06c34335a1557029b47225e39b797fa96a6606</string>
      <key>res/js/scrollPager.js</key>
      <string>67788bfa0256b12dfd332cddc9730d23e56f1aea</string>
      <key>res/js/setupApp.js</key>
      <string>88d43b771b3a267e73da63c488368f40850caae5</string>
      <key>res/css/content.css</key>
      <string>6d8ca37ad64e157dd32e1023804432565f5efa5b</string>
      <key>res/css/help.css</key>
      <string>508599ff75c719ef45a04e104e31446d4aefe62d</string>
      <key>res/css/platform.css</key>
      <string>05b63020fb1e237dcd46a0eab5b148f28a58e35d</string>
      <key>res/css/region.css</key>
      <string>aafd5008e9ce1f751dd5374e64a29d3d64d56c7e</string>
      <key>res/css/column.css</key>
      <string>863a2e386a34886434c95c2f7b9d8b5293c6ed9d</string>
      <key>res/css/themeNight.css</key>
      <string>cda8daa16da1ef1ae68cca1c69aa5737f5c0b8ce</string>
      <key>res/css/themeNormal.css</key>
      <string>ff59bdad60fc8c07fad0c070098c5e75b86986b9</string>
      <key>res/css/themeSepia.css</key>
      <string>216b378383ab630fd812bf86e3f5919faf4f603c</string>
      <key>res/css/QuaText-BoldItalic.woff</key>
      <string>58976e0c5b7fd96a397c9edc80b015e73a5274e1</string>
      <key>res/css/QuaText-RegularItalic.woff</key>
      <string>c0d1744fab1e1735044648f9b66078883a3e8186</string>
      <key>res/css/QuaText-Regular.woff</key>
      <string>e549cee373a74beae907b73885199e026c3cce34</string>
      <key>res/css/TazWt06-SemiBold.woff</key>
      <string>143023fce74f3e1a635d1d7a3c7cf94a92f7415c</string>
      <key>res/css/TazWt05-Regular.woff</key>
      <string>bee2b8369bb2a8437d2a38347e0ef61a981fb527</string>
      <key>res/css/ErlerDingbats.woff</key>
      <string>ea6b7f3379d3eb22d7936678c7802d3cbe7a40f4</string>
      <key>res/css/TazWt07-Bold.woff</key>
      <string>a2ef4e4448638c3be925b261a7fd0dd39fe01721</string>
      <key>res/css/ArnhemPro-Blond.woff</key>
      <string>fa681a55218512b1d113616a49e61964034af38f</string>
      <key>res/css/QuaText-Bold.woff</key>
      <string>8dcb073da60ce93d184cc1f959f12efcb21db6a3</string>
      <key>res/css/ArnhemPro-BlondItalic.woff</key>
      <string>0bd4e6ea4a29ae9e209b29fb75b2f1deb80749fd</string>
      <key>res/css/knile-light-webfont.woff</key>
      <string>c09b104f0df7749fd3b89c035826f649c0918a5f</string>
      <key>res/css/AktivGrotesk_W_BdIt.woff</key>
      <string>ec25208550e59cb99812ad90732cfa4304d06726</string>
      <key>res/css/AktivGrotesk_W_Rg.woff</key>
      <string>9559aa85e8a6263b048e41f96db4085bbdd51ede</string>
      <key>res/css/AktivGrotesk_W_It.woff</key>
      <string>7027b95b67a14db42270c538dae862c68d98cc60</string>
      <key>res/css/AktivGrotesk_W_Hair.woff</key>
      <string>fa6d5211e1de03533cd19b42575f3f75fe99f0d0</string>
      <key>res/css/AktivGrotesk_W_Bd.woff</key>
      <string>bf4577e026a75fc036db26d36f8233eead0dbcdc</string>
      <key>res/css/knile-semibold-webfont.woff</key>
      <string>f01ecc2e8d73e9ed013630c271d6d1087d7194d1</string>
      <key>res/css/AktivGrotesk_W_Lt.woff</key>
      <string>4aaa6b632e0fce59adabdfabc305ff4c6c983ac2</string>
      <key>res/css/knile-bold-webfont.woff</key>
      <string>c3f89ff78dd777c2fc1af5e352345e493c86c0a3</string>
      <key>res/css/AktivGrotesk_W_Md.woff</key>
      <string>eb59032a5249d7c92a6d03fb029320edce0c1215</string>
      <key>res/ios-help/AktivGrotesk_W_Bd.woff</key>
      <string>bf4577e026a75fc036db26d36f8233eead0dbcdc</string>
      <key>res/ios-help/artikelansicht.png</key>
      <string>58103b0f741a50dd7dfc493200faa2f1ef89eb36</string>
      <key>res/ios-help/artikel.html</key>
      <string>63fae2532c8936ab5904126e60f8a47e8c762a24</string>
      <key>res/ios-help/ausgabenansicht-back.png</key>
      <string>458e1844f0d1ffd811b9b7f9070426e393fc9a26</string>
      <key>res/ios-help/ausgabenansicht.png</key>
      <string>cea1c052d6798ee9242d130515b61ba5bb192275</string>
      <key>res/ios-help/ausgaben.html</key>
      <string>b698d61f7fc74ffb4dcbbca48fa22d2db5a3d660</string>
      <key>res/ios-help/check.png</key>
      <string>166aa14d23edcd6ddc08069211b42c2fa2cc3a50</string>
      <key>res/ios-help/datenschutz.html</key>
      <string>4c5e1b46c7906dbd4da0823697911d02c249cc2b</string>
      <key>res/ios-help/download.png</key>
      <string>d8b5c77a83fb06a313b905dbe173db7b3b0153e9</string>
      <key>res/ios-help/fragezeichen.png</key>
      <string>4214c669f9704109d107b543b7338b68e53cd0fb</string>
      <key>res/ios-help/help.css</key>
      <string>74fdf878ac560b9f4cad7c666465aadfaecc78fb</string>
      <key>res/ios-help/help.html</key>
      <string>d7eecd63f9bc92e3a6dc218b14d77a0344b9ac89</string>
      <key>res/ios-help/intro.html</key>
      <string>f07a9b67df01083cd9ac592795b0b1ace18a5df6</string>
      <key>res/ios-help/lesezeichen-all.png</key>
      <string>096147091bd6834dd8b60faec8b26cb43c995796</string>
      <key>res/ios-help/lesezeichen-gesetzt.png</key>
      <string>8acf96b0ce13a69d9e5fc46290bb3c5e045da923</string>
      <key>res/ios-help/lesezeichen-setzen.png</key>
      <string>de1ca939d2ef99d7b135d37f542341821e2d2f9c</string>
      <key>res/ios-help/login.png</key>
      <string>d8fd1e4a375d1efb09cb4a0629031d132cc70b1e</string>
      <key>res/ios-help/menue-fragezeichen.png</key>
      <string>3394ea5dcb391fdcbb8f096f7d4d350d6a164fce</string>
      <key>res/ios-help/menue.png</key>
      <string>d6caa09542217c44138b331eb8b06ea45d307ce3</string>
      <key>res/ios-help/menue-text.png</key>
      <string>94ec3cd4c497b50e5965caadcc95c5fe8763f47f</string>
      <key>res/ios-help/rad.png</key>
      <string>238068a97604657316894e528ac0bce707eb0d1d</string>
      <key>res/ios-help/seitenansicht-back.png</key>
      <string>d903c5d857d2779abc06535d815b3b98dcf3d0d1</string>
      <key>res/ios-help/seitenansicht.png</key>
      <string>20c99c51df1b6b4faf40da377b5aa1a8eb86b6be</string>
      <key>res/ios-help/seiten.html</key>
      <string>9f6af47917f7142ffad82e791be6dd32ec43fea2</string>
      <key>res/ios-help/seitenuebersicht.png</key>
      <string>de0ccd409cb2be1a06b6f7acc1850fd184221601</string>
      <key>res/ios-help/share.png</key>
      <string>411fd5a321ddb35479e348d8ea6feef2b0ea0170</string>
      <key>res/ios-help/switch6.png</key>
      <string>791a0a052881d23ba20525186f6e41826b66ffb1</string>
      <key>res/ios-help/trash.png</key>
      <string>791a0a052881d23ba20525186f6e41826b66ffb1</string>
      <key>res/ios-help/un-check.png</key>
      <string>1fe4576a0fea5f607aba240903f3b18799a4a832</string>
      <key>res/ios-help/verzeichnis.png</key>
      <string>2d58bbb575296598dd6441657d67bf228f3521b3</string>
      <key>res/android-help/abo-bestellen1.png</key>
      <string>ad5f6d2416ce5be5e5569e035c12c752792b5e79</string>
      <key>res/android-help/abo-bestellen2.png</key>
      <string>99f0bda7fb59f94f730d0bd940431cb234f853cb</string>
      <key>res/android-help/AktivGrotesk_W_Bd.woff</key>
      <string>bf4577e026a75fc036db26d36f8233eead0dbcdc</string>
      <key>res/android-help/a.png</key>
      <string>6e0fb45be503a1e67a45c5a09f481e7f9445b081</string>
      <key>res/android-help/artikelansicht.png</key>
      <string>9463900a0b835b945d5b9ce535199c40a1684b6a</string>
      <key>res/android-help/artikel.html</key>
      <string>63fae2532c8936ab5904126e60f8a47e8c762a24</string>
      <key>res/android-help/aufheben.png</key>
      <string>4438c6b72f874020965b21dd955b9e23ac61ced3</string>
      <key>res/android-help/ausgabenansicht-back.png</key>
      <string>458e1844f0d1ffd811b9b7f9070426e393fc9a26</string>
      <key>res/android-help/ausgabenansicht.png</key>
      <string>51cc662a6eff349b53220dc5a632a8599e1716fb</string>
      <key>res/android-help/ausgaben.html</key>
      <string>b698d61f7fc74ffb4dcbbca48fa22d2db5a3d660</string>
      <key>res/android-help/back.png</key>
      <string>792397d1bde90f6954106336f616e5943c585608</string>
      <key>res/android-help/datenschutz.html</key>
      <string>4c5e1b46c7906dbd4da0823697911d02c249cc2b</string>
      <key>res/android-help/dotdotdot.png</key>
      <string>9449e7ed506490900dedaa16e4c902ac0b92e7cd</string>
      <key>res/android-help/dotdotdot-red.png</key>
      <string>5cb5b1d92623c450bbd0d12bbb5e6fbff01b76f8</string>
      <key>res/android-help/download.png</key>
      <string>2a7309ed1257055f159b8fc5b76ddff904d6b9fd</string>
      <key>res/android-help/einstellungen.png</key>
      <string>9fee87c29a8349df6859d5429a6ee0ab7c5156af</string>
      <key>res/android-help/fragezeichen.png</key>
      <string>a282ec54f2e7050c8a2e86802c3cb04bcb55e720</string>
      <key>res/android-help/help.css</key>
      <string>97dca653711396c033870a92917843a82c93c24d</string>
      <key>res/android-help/help.html</key>
      <string>a75b19b936a469b4c4fd7763e2da647799f16897</string>
      <key>res/android-help/intro.html</key>
      <string>8cefd6a283b4e7766c72b537da8f20b1c32a3a33</string>
      <key>res/android-help/kalender.png</key>
      <string>9592ab43dbd7d0ecf08f72145853d883aa67a84b</string>
      <key>res/android-help/lesezeichen-gesetzt.png</key>
      <string>d9881494b52d7fc5c2a59fa0c2318d2a8981b67e</string>
      <key>res/android-help/lesezeichen.png</key>
      <string>1176963b4390c1132109c814e6d946aef8abeec4</string>
      <key>res/android-help/lesezeichen-setzen.png</key>
      <string>07a22368efd639bf2681761c173137b845ea4d10</string>
      <key>res/android-help/menue.png</key>
      <string>cd7a7f04815044aace8a63936ff71b8c8338972a</string>
      <key>res/android-help/minus.png</key>
      <string>3abd8ec4463b0de70fdfcc663fbc854b53d29d04</string>
      <key>res/android-help/pen.png</key>
      <string>02328235869253fc6b266ad04195964523f97b55</string>
      <key>res/android-help/plus.png</key>
      <string>a8bc7a2092391cfe49602ff9e62350bdb35da1de</string>
      <key>res/android-help/rad.png</key>
      <string>a836c9a8b5b2188f080b1b757690017a9b4da47c</string>
      <key>res/android-help/seitenansicht-back.png</key>
      <string>d903c5d857d2779abc06535d815b3b98dcf3d0d1</string>
      <key>res/android-help/seitenansicht.png</key>
      <string>4b4c37aaeff4d30742698436f5d6f808f04bfd41</string>
      <key>res/android-help/seiten.html</key>
      <string>9f6af47917f7142ffad82e791be6dd32ec43fea2</string>
      <key>res/android-help/seitenuebersicht.png</key>
      <string>c334309366d96fb33e827c5d1e49c54cd32afc6d</string>
      <key>res/android-help/teilen.png</key>
      <string>ae1cec011925528a4a315533c8f1370f120437b7</string>
      <key>res/android-help/trash.png</key>
      <string>dc40b18972a24ebe9baa5694a83039f8563a5257</string>
      <key>res/android-help/verzeichnis.png</key>
      <string>db5ca50f71bc407c496928a870acf1eb0ced702c</string>
    </dict>
  </dict>
</plist>
