//
//  ConfigSettingsBeta.xcconfig
//  taz.neo
//
//  Created by Ringo Müller on 11.11.21.
//  Copyright © 2021 Norbert Thies. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
PRODUCT_NAME = taz.beta
PRODUCT_BUNDLE_IDENTIFIER = de.taz.taz.beta
CURRENT_PROJECT_VERSION = 500030005