/*
 * CSS für das Inhaltsverzeichnis
 */
body {
  font-family	: Arial, Helvetica,sans-serif;
  line-height	: 140%;
  margin	: 0;
  background-color	: #961d2a;
}

div.topLink {
  color			: #000;
  font-weight		: bold;
  font-size		: 1.0em;
  line-height		: 200%;
  font-family		: Arial, Helvetica,sans-serif;
  padding-left		: 0.4em;
  padding-top		: 0.4em;
  background-color	: #C3BCA3;
  border-bottom		: 1px solid #fff;
}
div.Quelle {
  font-size		: 1.0em;
  line-height		: 150%;
  font-family		: Arial, Helvetica,sans-serif;
  font-weight		: bold;
  padding		: 0.5em;
  color			: #fff;
  background-color	: #961d2a;
  border-bottom		: 1px solid #fff;
  border-top		: 1px solid #666;
}
div.QuelleView {
  font-size		: 1.0em;
  line-height		: 150%;
  font-family		: Arial, Helvetica,sans-serif;
  display		: none
}

div.Seite {
  font-size		: 1.0em;
  line-height		: 150%;
  font-family		: Arial, Helvetica,sans-serif;
  padding		: 0.5em;
  background-color	: #C3BCA3;
  border-bottom		: 1px solid #FFF;
  border-top		: 1px solid #FFF;
}
div.SeiteView {
  font-size		: 1.0em;
  line-height		: 130%;
  display		: none
}

div.ut {
  font-size		: 1.0em;
  font-weight		: normal;
  line-height		: 130%;
  margin-top		: 0.2em;
  margin-left		: -0em;
  font-family		: Arial, Helvetica,sans-serif;
  padding		: 0 0 0.2em 0.0em;
}

/*  Ausklappen Quelle */
span.CQ {
  padding		: 0em 0.3em 0em 0.3em;
  margin-right		: 0.4em;
}

/*  Ausklappen Seite */
span.CP {
  font-size		: 1.1em;
  color			: #fff;
  background-color	: #961d2a;
  padding		: 0em 0.3em 0em 0.3em;
  margin-right		: 0.4em;
}

/*  Seitensymbol */
span.FaxIcon {
  color			: #fff;
  background-color	: #961d2a;
  margin-right		: 0.2em;
  padding		: 0em 0.3em 0em 0.3em;
  font-size		: 1.1em;
}

div.Text, div.Fax {
  font-size		: 1.0em;
  font-weight		: bold;
  line-height		: 120%;
  font-family		: Arial, Helvetica,sans-serif;
  padding		: 0.5em 0.4em 0.5em 0.4em;
  background-color	: #DCD8C4;
  border-bottom		: 1px dotted #333;
  clear			: left;
}

div.Text {
  padding-left		: 0.3em;
}
div.Fax {
  padding-left		: 0.4em;
}
/*
  text-indent		: 0.2em;
*/

div.bookmark {
  font-size		: 1.6em;
  padding		: 0 0 0.2em 0;
  margin		: 0em;
  float			: left;
  width			: 1em;
}

div.TextLink {
  margin-left		: 2em;
}

a:hover {
  background		: #f7f6ef;
  color			: #fff;
}
a:visited {
  background		: #fff;
  color			: #fff;
}
a:link {
  color			: #000;
  text-decoration	: none;
}

#content {
  position		: absolute;
  top			: 2.4em;
  left			: 0px;
  width			: 100%;

  overflow		: scroll;
  margin          	: 0px;
/*
  margin-top		: 30px;
*/
  padding		: 0em;
  z-index		: 1;
}

#nav {
  position		: fixed;
  top			: 0px;
  left			: 0px;
  height		: 1.6em;
  clear			: both;
  width			: 100%;
  margin		: 0;
  z-index		: 2;
  background-color	: #961d2a;
  padding		: 0.4em 0.4em 0.4em 0.4em;
  border-bottom		: 1px solid #FFF;
}

button {
  font-size		: 1.0em;
  color			: #961d2a;
  font-family		: Arial, Helvetica,sans-serif;
  -webkit-box-align	: center;
  padding		: 1px 3px 0px 3px;
  border		: none;
  border-width		: 0;
  background-color	: #DCD8C4;
}
