/* 
 * spezielle Anpassungen an das Android
 *
 */

body {
  -webkit-touch-callout: none;
}

::-webkit-scrollbar {
  width			: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius		: 3px;
  border		: 2px solid white; /* Angleichen mit Hintergrundfarbe-nicht transparent! */
  background-color	: rgba(0, 0, 0, .5);
}

#content {
  -webkit-overflow-scrolling	: touch;
}

span.bookmark {
  color		: #666;
  font-weight	: bold;
  font-size	: 1.5em;
  line-height	: 80%;
  padding	: 0 12px 0 10px;
}

#faxBookmarkRight {
  position	: absolute;
  top		: 2px;
  right		: 2px;
  font-weight	: bold;
}
#faxBookmarkLeft {
  position	: absolute;
  top		: 2px;
  left		: 2px;
  font-weight	: bold;
}

body.fax {
  background-color	: #C3BCA3;
}

/* Alle #fax* werden mit JS gesetzt */

.FaxBorder,
#Fax,
#FaxLeft,
#FaxRight,
PageImg
{
  position	: absolute;
  display	: none;
}


#PageInfo {
  display	: inline;
}

p.Quelle {
  border	: 0;
}


div.share {
  margin-top	: 0em;
}

li.share {
  margin-top		: 0px;
  margin-bottom		: 0px;
  padding-top		: 0px;
  padding-bottom	: 0px;
}

/* Tom oder Kari */
p.Tom {
  position		: absolute;
/*  top			: 2em; */
  left			: 0px;
  width			: 100%;
  border-bottom		: none;
  margin		: 0;
  padding		: 0;
}

#navHeader {
  position		: absolute;
  top			: 2px;
  left			: 0px;
  padding          	: 0;
  font-family		: sans-serif;
  font-size		: 14px;		/* Feste Schrifthöhe für fixes Layout 	*/
  height		: 22px;
  width			: 100%;
}

div.navLinks {
  float		: left;
  width		: 8em;
  padding-left	: 4px;
}

span.navBibliothek {
  border		: 1px solid black;
  border-radius 	: 5px;
  padding		: 1px;
  background-color	: #E0E0E0;
}

span.navInhalt {
  border		: 1px solid black;
  border-radius 	: 5px;
  padding		: 1px;
  background-color	: #E0E0E0;
}

div.navUtils {
  float		: right;
  width		: 5em;
  overflow	: hidden;
  text-align	: right;
  padding-right	: 4px;
}

div.navTitel {
  text-align	: center;
  white-space	: nowrap;
  overflow	: hidden;
}

div.KopfLinks {
  padding	: 0px 0px 0px 8px;	/* Damit wird im Script gerechnet */
  white-space	: nowrap;
  overflow	: hidden;
  margin        : 0 0 0 0;
}

div.KopfRechts {
  padding	: 0px 0px 0px 0px;
}


/*
 * Die Hauptelemente zum Schluss, damit sie nicht überschrieben werden
 */

#kopf {
  position		: absolute;
  top			: 0px;
  left			: 0px;
  margin          	: 0;
  padding-top		: 8px;
  padding-bottom	: 0em;
  overflow		: hidden;
  font-size		: 1.0em;
  width			: 100%;
}
#content {
}
#border {
}
#titel {
  margin       	: 0px;
  padding	: 0px;
  border	: 0px;
}
#brot {
  margin       	: 0px;
  padding	: 0px;
  border	: 0px;
}
#sozial {
  border-top	: 1px solid black;
  margin	: 0.8em 0 0 0;
  padding	: 0.2em 0 0 0;
  height	: 32px;	
  clear		: both;
  display	: none;
}
#fuss {
  position	: absolute;
  bottom	: 0px;
  left		: 0px;
  height	: 32px;	
  clear		: both;
  overflow	: hidden;
  width		: 100%;
  padding	: 0.2em 0 0 0;
  margin	: 0;
  border-top	: 1px solid black;
}

#foto {
  display	: none;
}

#Info {
}

div.share {
}
div.Autoren {
}

div.AutorProfil {
}

div.MediaBio {
}
