/* 
 */

body {
  background-color	: #FAF7EF;
  color			: #000;
}

div#Abstrakt {
  background-color	: #F0F0F0;
}

span.AbstraktUntenLinks {
  color			: #FFF;
  background-color 	: #000;
}
span.AbstraktUntenRechts {
  color			: #FFF;
  background-color 	: #A0A0A0;
}

div#AnzeigenSonderSeiten {
  background-color	: #FAF7EF;
}
