/*
 *  Stylesheet for taz bookmarks in iOS
 */

/* Fonts used */
/* AktivGrotesk Regular */
@font-face {
  font-family   : AktivGrotesk;
  src           : url(AktivGrotesk_W_Rg.woff) format("woff");
  font-style    : normal;
  font-weight   : normal;
  font-stretch  : normal;
}
/* AktivGrotesk Italic */
@font-face {
  font-family   : AktivGrotesk;
  src           : url(AktivGrotesk_W_It.woff) format("woff");
  font-style    : italic;
  font-weight   : normal;
  font-stretch  : normal;
}
/* AktivGrotesk Bold */
@font-face {
  font-family   : AktivGrotesk;
  src           : url(AktivGrotesk_W_Bd.woff) format("woff");
  font-style    : normal;
  font-weight   : bold;
  font-stretch  : normal;
}
/* AktivGrotesk Bold Italic */
@font-face {
  font-family   : AktivGrotesk;
  src           : url(AktivGrotesk_W_BdIt.woff) format("woff");
  font-style    : italic;
  font-weight   : bold;
  font-stretch  : normal;
}

html {
  font-family      : AktivGrotesk, sans-serif;
  font-weight      : normal;
  font-size        : 17px;
  line-height      : 1.23;
}

* {
  margin           : 0;
  padding          : 0;
}

body {
  padding: 61px 15px 5px 15px;
}

section {
  padding-bottom: 0.6rem;
}

.light {
  background-color : #fff;
  color            : #000;
}

.dark {
  background-color : #000;
  color            : #e3e3e3;
}

header {
  clear: both;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.6rem;
}

header.light {
  border-bottom: 1px dashed black;
}

header.dark {
  border-bottom: 1px dashed #e3e3e3;
}

img.moment {
  float: left;
  padding-right: 0.6rem;
  height: 36px;
}

header h1 {
  font-size: 1.06rem;
  font-weight: bold;
}

article.light {
  border-bottom: 1px solid black;
}

article.dark {
  border-bottom: 1px solid #e3e3e3;
}

/*
article:last-child {
  border-bottom: none;
}
*/

/* No visible links */
a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
  /*color: black;*/
}

article {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: auto;
}

article h2 {
  padding-top: 0.88rem;
  padding-bottom: 0.3rem;
  font-size: 0.88rem;
  font-weight: bold;
}

article p {
  font-size: 0.85rem;
}

article address {
  font-size: 0.79rem;
  font-weight: bold;
  font-style: normal;
}

article time {
  font-size: 0.71rem;
  font-weight: normal;
  font-style: normal;
}

.foot {
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -0.5rem;
}

.author {
  clear: both;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photo {
  float: right;
  padding: 1.18rem 0rem 0.6rem 0.6rem;
  width: 65px;
  height: 65px;
  object-fit: cover;
}

img.share {
  padding-left: 10px;
  margin-right: -5px;
  width: 48px;
}

img.bookmark {
  padding-bottom: 10px;
  width: 30px;
}
