/*
 *  Stylesheet for taz bookmarks in iOS
 */

/* Fonts used */
/* AktivGrotesk Regular */
@font-face {
  font-family   : AktivGrotesk;
  src           : url(AktivGrotesk_W_Rg.woff) format("woff");
  font-style    : normal;
  font-weight   : normal;
  font-stretch  : normal;
}
/* AktivGrotesk Italic */
@font-face {
  font-family   : AktivGrotesk;
  src           : url(AktivGrotesk_W_It.woff) format("woff");
  font-style    : italic;
  font-weight   : normal;
  font-stretch  : normal;
}
/* AktivGrotesk Bold */
@font-face {
  font-family   : AktivGrotesk;
  src           : url(AktivGrotesk_W_Bd.woff) format("woff");
  font-style    : normal;
  font-weight   : bold;
  font-stretch  : normal;
}
/* AktivGrotesk Bold Italic */
@font-face {
  font-family   : AktivGrotesk;
  src           : url(AktivGrotesk_W_BdIt.woff) format("woff");
  font-style    : italic;
  font-weight   : bold;
  font-stretch  : normal;
}

html {
  font-family      : AktivGrotesk, sans-serif;
  font-weight      : normal;
  font-size        : 17px;
  line-height      : 1.23;
}

.icons {
    width: 80px;
    display: flex;
    margin-top: -5px;
    justify-content: right;
}

* {
  margin           : 0;
  padding          : 0;
}

body {
  padding: 61px 15px 5px 15px;
}

section {
  padding-bottom: 0.1rem;
}

.light {
  background-color : #fff;
  color            : #000;
}

.dark {
  background-color : #000;
  color            : #e3e3e3;
}

.foot time {
    color: #9c9c9c;
    float: left;
}

header {
  clear: both;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.6rem;
}

.dottedline {
  height: 1.7px;
  background-repeat: repeat-x;
  background-size: contain;
  margin-top: 4px;
}

article.light .dottedline {
  background-image: url("dot-day.svg");
}

article.dark .dottedline {
  background-image: url("dot-night.svg");
}

img.moment {
  float: left;
  padding-right: 0.6rem;
  height: 36px;
}

header h1 {
  font-size: 1.06rem;
  font-weight: bold;
}

body.dark section {
  border-top: 0.7px solid #e3e3e3;
}
body.light section {
  border-top: 0.7px solid #1f1f1f;
}

section {
  padding-top: 8px;
  margin-top: 8px;
}

body section:first-child {
  border-top: none;
  padding-top: 0px;
}

/* No visible links */
a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
}

article {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: auto;
}

article h2 {
  padding-top: 0.88rem;
  font-size: 0.88rem;
  font-weight: bold;
}

article p {
  font-size: 0.85rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

article address {
    font-size: 0.79rem;
    font-weight: bold;
    font-style: normal;
    float: left;
    padding-right: 7px;
    line-height: 1rem;
}

article time {
  font-size: 0.71rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1rem;
}

.foot {
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  margin-top: 4px;
}

.author {
    clear: both;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
}

.photo {
  float: right;
  padding: 1.18rem 0rem 0.6rem 0.6rem;
  width: 65px;
  height: 65px;
  object-fit: cover;
}

img.share {
  margin-right: 12px;
  margin-bottom: -4px;
  width: 24px;
}

img.bookmark {
  width: 26px;
  margin-top: 1px;
}
